# Python
__pycache__/
*.py[cod]
*.pyd
.Python
.pytype/
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Virtual environments
.venv/
venv/
ENV/

# Streamlit
.streamlit/

# FastF1 cache (local data)
cache/

# Build / packaging
build/
dist/
*.egg-info/

# Logs / local files
*.log

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/


